/* Estilo para el modal */
.contentModal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.8); /* Color negro transparente */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/* Estilo para el título */
.contentModal h1 {
  font-size: 22px; /* Tamaño de fuente más grande */
  margin-bottom: 10px;
  text-align: center;
  color: #144ca7; /* Color del título */
}

/* Estilo específico para el nombre */
.contentModal h2 {
  font-size: 20px; /* Tamaño de fuente más grande */
  margin-bottom: 10px;
  text-align: center;
  color: #921f2e; /* Color específico para el nombre */
}

/* Estilo para la descripción */
.contentModal p {
  font-size: 18px; /* Tamaño de fuente más grande */
  margin-bottom: 10px;
  text-align: center;
  color: white; /* Color blanco */
}