@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Concert+One&display=swap");
@import "https://unpkg.com/open-props" layer(design.system);

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
}
/* BIENVENIDA */

.bienvenida {
  padding: 80px 20px;
  background-color: #f9f9f9;
  text-align: center;
  width: 100%;
}

.bienvenida .container {
  max-width: 800px;
  margin: 0 auto;
}

.bienvenida h1 {
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: "Concert One", sans-serif;
  font-style: normal;
  font-size: 3.5em;
  overflow: hidden;
  border-right: 3px solid #007bff;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
  margin-top: 60px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #007bff;
  }
}

.bienvenida h2 {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #921f2e;
  margin-bottom: 20px;
}

.bienvenida p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .bienvenida {
    padding: 60px 10px;
  }

  .bienvenida h1 {
    margin-bottom: 15px;
    font-size: 2.5em; /* Ajuste para pantallas pequeñas */
  }

  .bienvenida h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  .bienvenida p {
    font-size: 1em;
    margin-bottom: 20px;
  }
}

/* Historia Section */

#historia {
  margin-bottom: 7%;
  background-color: #f9f9f9;
  justify-content: center;
  padding: 40px 100px;
}

.intro-text {
  flex: 1;
  text-align: left; /* Alineación del texto a la izquierda */
  max-width: 50%; /* Limitar el ancho máximo al 50% del contenedor padre */
}

.intro-text h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #666;
}

.gallery{
  margin-left: 50%;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 45rem;
}

.card{
  position: relative;
  left: 0;
  width: 3rem;
  border-radius: 5rem;

  height: 25rem;
  overflow: hidden;
  transition: .4s ease-in-out;

  box-shadow: 0 5 12px rgba(0, 0, 0, .3);
  flex: .15;
}

.card img{
  position: relative;
  height: 25rem;
  object-fit: cover;
}

.card:hover{
  flex: 1 1 0;
  cursor: pointer;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  #historia {
    padding: 40px 20px; /* Ajustar el padding para pantallas más pequeñas */
  }

  .intro-text,
  .gallery {
    margin-top: -20%;
    padding: 20px;
    max-width: 100%;
    margin-bottom: 70px;
  }

  .gallery {
    flex-direction: column; /* Cambiar a una columna en pantallas más pequeñas */
    align-items: center; /* Centrar las tarjetas en el eje vertical */
  }

  .card {
    width: 100%; /* Ancho completo para las tarjetas en pantallas pequeñas */
    margin-bottom: 1rem; /* Espacio entre las tarjetas */
  }
}

@media (max-width: 480px) {
  .card {
    display: flex;
    width: 230px;
    height: 250px;
  }
}

.linetem {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.msf-timeline {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
}

.msf-container {
  color: #f9f9f9;
  border-radius: 20px;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.msf-container.msf-left {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: #144ca7;
  left: 0;
}

.msf-container.msf-right {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: #921f2e;
  left: 50%;
}

.msf-content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
}

.msf-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(102, 102, 102);
  border: 4px solid #000000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.msf-right::after {
  left: -16px;
}

.msf-content h2 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 24px;
}

.msf-content p {
  margin: 0;
  font-size: 16px;
}

.msf-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.msf-container:hover .msf-content {
  transform: translateY(-10px);
}

@media screen and (max-width: 768px) {
  .msf-container {
    margin-bottom: 60px;
  }

  .msf-timeline {
    margin-top: -80px;
    padding: 0 10px;
  }
  .msf-container.msf-left,
  .msf-container.msf-right {
    left: 0;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .msf-container::after {
    display: none;
  }
  .msf-right::after {
    display: none;
  }
}
