@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Concert+One&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BIENVENIDA */

.bienvenida {
  padding: 80px 20px;
  background-color: #f9f9f9;
  text-align: center;
  width: 100%;
}

.bienvenida .container {
  max-width: 800px;
  margin: 0 auto;
}

.bienvenida h1 {
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: "Concert One", sans-serif;
  font-style: normal;
  font-size: 3.5em;
  overflow: hidden;
  border-right: 3px solid #007bff;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
  margin-top: 60px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #007bff;
  }
}

.bienvenida h2 {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #921f2e;
  margin-bottom: 20px;
}

.bienvenida p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .bienvenida {
    padding: 60px 10px;
  }

  .bienvenida h1 {
    margin-bottom: 15px;
    font-size: 2.5em; /* Ajuste para pantallas pequeñas */
  }

  .bienvenida h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  .bienvenida p {
    font-size: 1em;
    margin-bottom: 20px;
  }
}

/* Introduccion Section */

#introduccion {
  background-color: #f9f9f9;
  padding: 40px 20px;
}

.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-text {
  padding-left: 10%;
  flex: 1;
  padding-right: 20px; /* Espacio entre el texto y la imagen */
}

.intro-text h2 {
  color: #333;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #666;
}

.intro-image {
  flex: 1;
  text-align: center; /* Alineación de la imagen */
}

.intro-image img {
  max-width: 100%; /* Imagen ajustada al 100% del contenedor */
  height: auto; /* Altura automática */
  max-height: 360px; /* Altura máxima de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  padding: 10px; /* Espacio alrededor de la imagen */
  box-sizing: border-box; /* Asegura que el padding no incremente el tamaño total */
}

/* Responsive Introduccion Section */
@media (max-width: 768px) {
  .intro-content {
      flex-direction: column;
      align-items: center;
  }

  .intro-text {
      padding-left: 20px;
      padding-right: 0; /* Elimina el espacio entre el texto y la imagen en dispositivos móviles */
      text-align: center;
      order: 1; /* Cambia el orden del contenido en dispositivos móviles */
  }

  .intro-image {
      order: 2; /* Cambia el orden de la imagen en dispositivos móviles */
      margin-top: -70px; /* Añade un espacio entre el texto y la imagen en dispositivos móviles */
  }
}

/* OBJETIVOS Section */

#objetivos {
  padding: 50px;
  background-color: #f9f9f9;
  text-align: center;
  width: 100%;
}

#objetivos h2 {
  margin-top: 60px;
  color: #333;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.objetivos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.card {
  width: 290px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card .info {
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card .info h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card .info p {
  color: #666;
  font-size: 1.1em;
  line-height: 1.6;
}

/* METODOLOGIA Section */

#metodologia {
  padding: 80px 20px;
  background-color: #f9f9f9;
  text-align: center;
  width: 100%;
}

#metodologia h2 {
  margin-top: -70px;
  color: #333;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.metodologia-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 10%; /* Márgenes laterales */
}

.metodologia-text {
  flex: 1;
  text-align: left; /* Texto a la izquierda */
}

.metodologia-text h3 {
  color: #333;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.metodologia-text p {
  color: #666;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.abc-numbers-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.abc-container,
.numbers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.abc {
  width: 100px; /* Tamaño grande de las letras */
  height: 100px; /* Tamaño grande de las letras */
  background-color: #144ca7;
  color: #fff;
  font-size: 2.5em; /* Tamaño grande de las letras */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: grab;
  margin: 10px; /* Espacio entre las letras */
  position: relative;
  animation: float 2s infinite ease-in-out; /* Animación flotante */
}

.number {
  width: 100px; /* Tamaño grande de los números */
  height: 100px; /* Tamaño grande de los números */
  background-color: #921f2e; /* Color guinda */
  color: #fff;
  font-size: 2.5em; /* Tamaño grande de los números */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: grab;
  margin: 10px; /* Espacio entre los números */
  position: relative;
  animation: float 2s infinite ease-in-out; /* Animación flotante */
}

/* Animación flotante */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Ajustar la altura del salto */
  }
}

/* Responsive Metodologia Section */
@media (max-width: 768px) {
  .metodologia-content {
    flex-direction: column;
    align-items: center;
  }

  .metodologia-text {
    text-align: center; /* Alineación del texto para pantallas pequeñas */
  }

  .abc,
  .number {
    width: 80px; /* Tamaño más pequeño para pantallas pequeñas */
    height: 80px; /* Tamaño más pequeño para pantallas pequeñas */
    font-size: 2em; /* Tamaño de letra más pequeño para pantallas pequeñas */
  }
}

/* Áreas de Aprendizaje Section */
.aprendizaje-section {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center;
}

.aprendizaje-title {
  color: #333;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.aprendizaje-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.aprendizaje-card {
  perspective: 1000px;
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.aprendizaje-card-front,
.aprendizaje-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.aprendizaje-card-front {
  background-image: linear-gradient(#144ca7, #921f2e);
  color: white;
}

.aprendizaje-card-back {
  background-color: #fff;
  color: #333;
  transform: rotateY(180deg);
  padding: 20px;
}

.aprendizaje-card.flip .aprendizaje-card-front {
  transform: rotateY(180deg);
}

.aprendizaje-card.flip .aprendizaje-card-back {
  transform: rotateY(0deg);
}

.aprendizaje-card:hover {
  animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aprendizaje-title {
    font-size: 2em;
  }

  .aprendizaje-card {
    width: 150px;
    height: 200px;
  }

  .aprendizaje-card-front,
  .aprendizaje-card-back {
    padding: 15px;
  }
}

/* DOCENTE */
.plani {
  color: #333;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.docente {
  background-color: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
}

.slider-container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  animation: slide-animation 30s linear infinite;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 1s ease-in-out;
}

.slide-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.slide-content {
  padding: 20px;
}

.slide-content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007bff;
}

.slide-content p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
}

@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
